.website-item {
  height: 100px;
  width: 200px;
  border: 1px solid white;
  display: flex;
  border-radius: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.stars-img {
  height: 10px;
  width: 95px;
}

.password {
  font-size: 10px;
}

.delete-icon {
  height: 20px;
  width: 20px;
}

.website-details {
  color: white;
  font-size: 10px;
}

.delete-icon-container {
  background-color: transparent;
  border: 0px;
}

.website-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-icon {
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  padding: 12px;
  margin-right: 10px;
}
